.bewertungsliste{
    color: black;
}

.bewertungsliste{
    margin: 20px;
}
.bewertungsfeld{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    border-width: 2px;
    padding: 10px;
    margin-bottom: 20px;
}

.profilepicture{
    width: 30px;
    height: 30px;
}
button {
    margin-left: 20px;
    height: 5vh;
    border-radius: 5px;
}


