.bewertungsliste{
    color: black;
    margin: 20px;
}

.bewertungsfeld{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    border-width: 2px;
    padding: 10px;
    margin-bottom: 20px;
}

.profilepicture{
    width: 30px;
    height: 30px;
}
button {
    margin-left: 20px;
    height: 5vh;
    border-radius: 5px;
}

.modulname{
    color: black;
}

.checked {
    color: orange;
}

.benutzer-info {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.inhalt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1.5vh;
    margin-top: 0.5vh;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.kommentar {
    padding: 1vh;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
}

.link {
    align-self: end;
    margin-top: 0.5vh;
    transition: font-weight 0.2s ease-in-out;
}

.link a{
    text-decoration: none;
    color: black;
}

.link:hover{
    font-weight: bold;
}

.link i {
    padding-left: 0.5vh;
}