body {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    height: 4vh;
    width: 100%;
    padding: 0;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    margin-top: 2vh;
}

input[type=number] {
    -moz-appearance: textfield;
}