main {
    margin-top: 3rem;
    padding: 0;
}

.modul {
    display: flex;
    flex-direction: row;
    padding: 2vh;
}

.modul > * {
    flex: 1 1 0;
}

.modul-bewertung {
    display: flex;
    flex-direction: column;
}

h3 {
    border-color: grey;
    width: 100%;
}

.fields {
    display: flex;
    flex-direction: column;
    column-gap: 10vh;
    flex-grow: 1;
    justify-content: start;
}

textarea {
    border-radius: 5px;
    width: 100%;
}

button {
    height: 5vh;
    border-radius: 5px;
}

button:hover {
    background-color: #a2c8a2;
}

#eingabe {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 12px 32px;
    cursor: pointer;
    float: right;
}

#eingabe:hover {
    color: #8a8a8a;
}

/* temporary paste from bewertungsuebersicht */
.bewertungsliste {
    color: black;
    margin: 2vh;
}

.bewertungsfeld {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    border-width: 2px;
    padding: 10px;
    margin-bottom: 20px;
}

.benutzername {
    margin-left: 1vh;
}

.benutzer-info {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.inhalt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1.5vh;
    margin-top: 0.5vh;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.kommentar {
    padding: 1vh;
    margin-top: 3vh;
}

.fa-star {
    color: grey;
}

.checked {
    color: orange;
}

.profilepicture {
    width: 30px;
    height: 30px;
}

button {
    margin-left: 20px;
    height: 5vh;
    border-radius: 5px;
}

.modulname {
    color: black;
}

select {
    width: 6vh;
}

.star:hover {
    color: orange;
}

.star {
    line-height: 6vh;
    font-size: 24px;
}

.star-rating {
    text-align: right;
}