.modul-bestanden {
    background-color: lightgrey;
    height: 20vh;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 1vh;
    margin: 1vh;
    box-shadow: 2px 2px 4px rgb(76, 175, 0.1);
    transition: all 0.2s ease-in-out;
}

.modul-bestanden:hover {
    box-shadow: 0px 0px 8px rgb(76, 175, 0.1);
    -webkit-transform: scale(1.02);
}

.modul-bestanden hr, .modul-bestanden h2{
    color: #4CAF50;
}

.modul-durchfall {
    background: lightgrey;
    height: 20vh;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 1vh;
    margin: 1vh;
    box-shadow: 2px 2px 4px rgb(161, 48, 60);
    transition: all 0.2s ease-in-out;
}

.modul-durchfall:hover {
    box-shadow: 0px 0px 8px rgb(161, 48, 60);
    -webkit-transform: scale(1.02);
}

.modul-durchfall hr, .modul-durchfall h2{
    color: #a1303c;
}

.modul-durchfall hr {
    box-shadow: 0px 0px 1px rgb(161, 48, 60);
}

.modul {
    background: lightgrey;
    height: 20vh;
    border: 2px solid #424141;
    border-radius: 5px;
    padding: 1vh;
    margin: 1vh;
    box-shadow: 2px 2px 4px rgb(65, 65, 0.1);
    transition: all 0.2s ease-in-out;
}

.modul:hover {
    box-shadow: 0px 0px 8px rgba(65, 65, 0.1);
    -webkit-transform: scale(1.02);
}

.modul-liste a {
    text-decoration: none;
    color: black;
}

.modul-bewertung {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.beschreibung-note {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.beschreibung-note h3 {
    padding-left: 2vh;
}

hr {
    margin-bottom: 2vh;
}

h3 {
    white-space: nowrap;
}

.modul-liste {
    display: flex;
    flex-wrap: wrap;
}

.modul-liste a {
    flex-basis: 33%
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.checked {
    color: orange;
}

.beschreibung-note p{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}