.modul-bestanden {
    background: rgba(144, 238, 144, 0.7);
    height: 20vh;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 1vh;
    margin: 0.5vh;
}

.modul-durchfall {
    background: rgba(240, 128, 128, 0.44);
    height: 20vh;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 1vh;
    margin: 0.5vh;
}

.modul {
    background: lightgrey;
    height: 20vh;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 1vh;
    margin: 0.5vh;
}

main a {
    text-decoration: none;
    color: grey;
}

.modul-bewertung {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.beschreibung-note {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

hr {
    margin-bottom: 2vh;
}

h3 {
    white-space: nowrap;
}