.field {
  display: flex;
}
.container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.picture {
  width: 200px;
  height: 200px;
}
.upper{
  display: flex;
  flex-direction: row;
  gap: 1vh;
  box-sizing: border-box;
}
input {
  font-size: medium;
  border-style: solid;
  border-radius: 1vh;
  border: grey solid 0.3vh;
  padding: 1vh;
  margin-top: 1vh;}

input[type="text"] {
  width: 50%;
  box-sizing: border-box;
}

input[type="number"] {
  width: 100%;
  box-sizing: border-box;
}
input:focus {
  outline: none;
  border: #4CAF50 solid 0.3vh;
  background-color: #ffffff93;
  color: #8a8a8a;
}
input:not(:placeholder-shown) {
  border: #4CAF50 solid 0.3vh;
}
#pvname {
  margin-right: 5px;
}

#pnname {
  margin-left: 5px;
}

#pmnummer {
  background-color: #ffffff;
}

#pmnummer:hover {
  background-color: #8a8a8a;
}

input:disabled {
  background-color: darkgrey;
  color: #999999;
}

input[type="submit"] {
  margin-top: 1vh;
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  font-size: medium;
  cursor: pointer;
  border-radius: 1vh;
}

input[type="submit"]:hover {
  color: #8a8a8a;
}